<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</style>
</head>
<body>
<div>
<p>
The kidneys are two bean-shaped organs, each about the size of a fist. They are located just
below the rib cage, one on each side of your spine.
Healthy kidneys filter about a half cup of blood every minute, removing wastes and extra
water to make urine. The urine flows from the kidneys to the bladder through two thin tubes
of muscle called ureters, one on each side of your bladder. Your bladder stores urine. Your
kidneys, ureters, and bladder are part of your urinary tract.
</p><br>
</div>
<center>
<img src="https://www.niddk.nih.gov/-/media/Images/HealthInformation/Kidney/Kidney_FINAL-Labels_1460x1623.jpg" width="250px"
height="250px">
</center>
<div>
<p>
Your kidneys remove wastes and extra fluid from your body. Your kidneys also remove
acid that is produced by the cells of your body and maintain a healthy balance of water, salts,
and minerals—such as sodium, calcium, phosphorus, and potassium—in your blood.
42
Without this balance, nerves, muscles, and other tissues in your body may not work normally.
Your kidneys also make hormones that help
control your blood pressure
make red blood cells NIH external link
keep your bones strong and healthy
</p>
</div>
</body>
</html>