<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.column {
float: left;
width: 23%;
padding: 0 5px;
}
.row {margin: 5px;}
.row:after {
content: "";
display: table;
clear: both;
}
@media screen and (max-width: 600px) {
.column {
width: 100%;
display: block;
margin-bottom: 20px;
}
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 10px;
text-align: center;
background-color: #f1f1f1;
height: 250px;
width: 250px;
}
img{
width:50%;
}
</style>
</head>
<body>
<div>
<p>
The kidneys are two bean-shaped organs. Each kidney is about the size of a fist. Your
kidneys filter extra water and wastes out of your blood and make urine. Kidney disease
means your kidneys are damaged and can't filter blood the way they should.
You are at greater risk for kidney disease if you have diabetes or high blood pressure. If you
experience kidney failure, treatments include kidney transplant or dialysis. Other kidney
problems include acute kidney injury, kidney cysts, kidney stones, and kidney infections.
</p>
</div>
<div class="row">
<div class="column">
<div class="card" >
<img src="https://pbs.twimg.com/media/DL_sRybVQAAoikW.jpg:large" style="width:
200px;;height: 200px;">
<h4><b>Renal Tubular Acidosis</b></h4>
</div>
</div>
<div class="column">
<div class="card">
<img src="https://medlineplus.gov/images/PX00014W_PRESENTATION.jpeg" style=
"width: 200px;;height: 200px;">
<h4><b>
Polycystic Kidney Disease (PKD)</b></h4>
</div>
</div>
<div class="column">
<div class="card">
<img src="https://cdnintech.com/media/chapter/76685/1512345123/media/F1.png"
style="width: 200px;height: 200px;">
<h4><b>
Renal artery stenosis</b></h4>
</div>
</div>
<div class="column">
<div class="card" >
<img src="https://api.kramesstaywell.com/Content/6066ca30-310a-4170-b001-
a4ab013d61fd/ucr-images-v1/Images/front-view-of-kidney-with-simple-cyst-381454"
style="width: 200px;;height: 200px;">
<h4><b>Simple Kidney Cysts</b></h4>
</div>
</div>
</div>
<h2>Types of kidney Diseases</h2>
<div>
<h3>Fabry disease</h3>
<p>
Fabry disease is a rare genetic disease that is passed down through your family. It
affects organs all around your body, including your heart, brain and kidneys, and can cause
them to get less blood than they need. Over time, this can cause chronic kidney disease or
kidney failure.
</p>
</div>
<div>
<h3>Cystinosis</h3>
<p>
Cystinosis is a rare disorder that allows a natural chemical called cystine to build up in
your body and cause health problems. Kidney damage from cystinosis can cause kidney
failure. People with cystinosis must take medicine to lower their cystine levels and may need
a kidney transplant. Cystinosis is genetic (runs in families) and is most often diagnosed in
young babies.
</p>
</div>
</body>
</html>
